@model IEnumerable<EventManagementSystem.Models.Event>

<p>
    <a asp-action="Create">Create New Event</a>
</p>

<h2>Events</h2>

<table border="1" cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Capacity</th>
    </tr>

    @foreach (var ev in Model)
    {
        <tr>
            <td>@ev.Name</td>
            <td>@ev.Location</td>
            <td>@ev.Capacity</td>
        </tr>
    }
</table>
